body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  #reservations {
    border: 1px solid ;
  }